<?xml version="1.0"?>

<launch>
  
  <node pkg="hector_sbpl_planner_test" type="planner_test" respawn="false" name="planner_test" output="screen" >	
    <rosparam file="$(find hector_sbpl_terrain_planner)/config/basic_test_params.yaml" command="load" />   
    <param name="hector_sbpl_terrain_planner/primitive_filename" value="$(find hector_sbpl_terrain_planner)/mprim/mprim_obelix5totest.mprim" /> 
  </node>

</launch>


<!--<param name="SBPLLatticePlanner/primitive_filename" value="$(find hector_move_base)/mprim/crab_higher_cost_only_back.mprim" />-->
